body:after
{
		content: "";
		opacity: 1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: fixed;
		height: 100%;
		width:100%;
		z-index: -1;  
		 background: url("/img/background.jpg") no-repeat center center fixed; 
	   -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: blue;
}
	
