/**
* This is the style sheet for the music item page
*/
.item
{
	
}
.item #icon
{
	
}
.item  img
{
	height: 100%;
	width: 100%;
	max-height: 300px;
	max-width:300px;

}

.item #title
{
	font-size:70px;
	font-family:headline;
	line-height: 100%;
}

.item #artist
{
	font-size:30px;
	font-family: timesnewroman;
}

.item #time
{
	font-size:16px;
	color:grey;
}

