/**
*The style of the radio user interface
*
**/

.radio 
{
	background-color: #212321;	
	margin:auto;
	max-width:65%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
}
.radio #body
{
	position:absolute;
	display:inline-block;
	vertical-align:center;
	padding-left:2%;
	
	
}

.radio #title
{
	display:block;
	font-weight:bold;
	font-size:30px;
	color:#cbb5e2;
}
.radio #subtitle
{
	display:block;
	font-weight:normal;
	font-size:18px;
	margin-left:5px;
	color:gray;
}
#play:hover, #stop:hover, #load:hover
{
 cursor:pointer;
}
#play, #stop, #load
{
	height: 60px;
	width:60px;
	position: relative;
  	top: 0;
  	left: 0;
}
#stop, #load
{
	visibility:hidden; 
}
.control
{
	position: relative;
}

#play
{
 	position: absolute; 
}
#stop
{
  position: absolute;
}
#load
{
	position: absolute;
}
.radio #icon
{
	height:120px;
	width:120px;
}
.radio #cover
{
	padding-bottom:10%;	
	padding-top:10%;
	padding-right:1%;
	display:inline;
}
.radio #vr
{
	display:inline;
	position:absolute;
	border:left;
	border-width:2px;
	border-color:#5f5f5a;
	height:90%;
	border-style: inset; 
}
.radio #volume-container
{
	padding-top:9%;
	padding-right:8%;
	position: absolute;
	padding-left: 15%;
	padding-top:12%;
}

/*Loading icon*/
.loader-container 
{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    height: 140px;
}

.circle 
{
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top-color: #c2b3ff;
  animation: spin 1s infinite linear;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
} 

