/**
*This is CS50
*/


#logo
{
	padding-top: 5px;
	max-width: 200px;
	max-height: 100%;
}

.container 
{
	padding-top:30px;

}
body, html
{
	height: 100%;
	display:inline;
	overflow: auto;
	
}


.container
{
	margin-left: 5%;
	margin-right:5%;
	max-width: 100%;

}

.header
{
	text-align:center;
	max-width:100%;
	margin-bottom: 10%;
	text-align: center;

}
#navigation
{
	color:#c2b3ff;
}
 #intro h2
{

	line-height: 12px;
	font-size:45px;
	line-height:100px;
	color:white;

}
#intro p
{
	font-size:16px;
	line-height:30px;
	color:white;

}
.login
{
	
	text-align:center;
	display:inline-block;
	max-width:210px;
	width:210px;
	color:white;

}


.login #title
{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	padding-bottom:10%;
}
#logo_art
{
	max-width:100px;
	max-height:100px;
}

#error
{
	color: red;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding-bottom: 5%;
}
.register
{
	text-align:center;
	display:inline-block;
	float:center;
	margin-left:37%;
	width:26%;
	max-width:26%;
}
.register #title
{
	text-align:center;
	font-size: 22px;
	font-weight:bold;
	padding-bottom:5%;
}
.register #radio
{
	display:inline;
	padding-right:15%;
	font-size:14px;
	text-align:center;
}
#footer
{
	text-align:center;
	font-size:14px;
	font-weight:bold;
   	width:100%;
}
#footer img
{
	max-width:35px;
	max-height:35px;
	padding-right:3px;
	
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 
/*
*
*Adapted from https://www.w3schools.com/
*/
.popup {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 50%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-left: 25%;
}



/* Toggle this class - show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
     
}

/* Toggle this class - hide popup*/
.popup .hide{
    visibility: hidden;  
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
